<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %}{% endblock %}
    <title>台北一日遊</title>
  </head>
  <body>
    <div id="modal" style="display:none;">
        <div id="modal-signin" class="modal-box">
          <div class="modal-bar"></div>
          <img class="modal-cross" src="../static/images/icon/icon_close.svg" alt="">
          <h3 class="modal-title">登入會員帳號</h3>

          <form id="form-signin">
            <input class="modal-input" type="email" name="email" 
              placeholder="輸入電子信箱" required="required"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <input class="modal-input" type="password" name="password" 
              placeholder="輸入密碼" autocomplete="on" required="required">

            <input class="modal-button" type="submit" value="登入帳戶">
          </form>
          <div id="hint-signin" class="hint"></div>

          <button class="modal-switch" onclick="switchModal(0);">還沒有帳戶？點此註冊</button>
        </div>
        
        <div id="modal-signup" class="modal-box" style="display:none;">
          <div class="modal-bar"></div>
          <img class="modal-cross" src="../static/images/icon/icon_close.svg" alt="">
          <h3 class="modal-title">註冊會員帳號</h3>

          <form id="form-signup">
            <input class="modal-input" type="text" name="name" 
              placeholder="輸入姓名" required="required">

            <input class="modal-input" type="email" name="email" 
              placeholder="輸入電子信箱" required="required"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <input class="modal-input" type="password" name="password" 
              placeholder="輸入密碼" autocomplete="on" required="required">

            <input class="modal-button" type="submit" value="註冊新帳戶">
          </form>
          <div id="hint-signup" class="hint"></div>

          <button class="modal-switch" onclick="switchModal(1);">已經有帳戶了？點此登入</button>
        </div>
        
        <div id="modal-mask"></div>
    </div>

    <nav>
      <div class="nav">
        <a href="/" style="text-decoration:none;"><h2>台北一日遊</h2></a>
        <div>
          <a class="nav-btn" href="#" onclick="bookTrip()">預定行程</a>
          <a class="nav-btn" href="#signInModal" onclick="openModal()" style="display:none;">登入/註冊</a>
          <a class="nav-btn" href="#" onclick="logOut()" style="display:none;">登出</a>
        </div>
      </div>
    </nav>
    
    {% block body %}
    {% endblock %}

    <footer id="footer">
      COPYRIGHT © 2021 台北一日遊
    </footer>
    {% block fillFooter %}{% endblock %}

    <script src="/static/js/base.js"></script>
    {% block js %}{% endblock %}

  </body>
</html>
