{% extends "base.html" %}  

{% block css %}<link rel="stylesheet" href="/static/css/main.css">{% endblock %}

{% block body %}

    <header>
      <div class="cover">
        <div>
          <h1>輕鬆享受台北一日悠閒</h1>
          <p>探索每個角落，體驗城市的深度旅遊行程</p>
          <div>
            <div id="search-box">
              <input type="text" id="search-input" list="categories"
              placeholder="輸入景點名稱查詢" onfocus="showList()">
              <button id="search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
            <div id="search-list" class="hide">
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div id="grid-box">
        
      </div>
    </section>
    
{% endblock %}

{% block js %}<script src="/static/js/main.js"></script>{% endblock %}