{% extends "base.html" %}  

{% block css %}<link rel="stylesheet" href="/static/css/thankyou.css">{% endblock %}

{% block body %}

<section id="ordernum-section" class="hide">
    <h1>感謝您的支持！<br>期待再次為您服務</h1>
    <p>您的訂單編號為 <span id="ordernum-text"></span>，
        <span id="pay-fail-text"></span>
        詳細的訂單資訊請至會員頁查詢。</p>
    <p>如有任何疑問，歡迎來信至 tech@taipeidaytrip.com 洽詢，
        或於週一到週五 08:00-17:00 來電至 (02)8787-8787，由專人為您服務。</p>
</section>

<section id="no-order-section" class="hide">
    <h1>查無此訂單</h1>
</section>

<button class="return-btn" onclick="location.href='/';">返回首頁</button>

{% endblock %}

{% block fillFooter %}
    <div class="fill-footer"></div>
{% endblock %}

{% block js %}
    <script src="/static/js/thankyou.js"></script>
{% endblock %}